*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    margin-bottom: 2.5rem;
    font-family: sans-serif;
}

.item-list{
    list-style: none;
}

.item-list li{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:30px;
    width:200px;
    padding:25px;
    border-bottom: 0.1px solid black;
}

li .favorite-icon{
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: large;
}

li .filled{
    color: red;
}