*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #0a0a23;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    margin: 2rem;
}

.ans-container{
    height: 130px;
    width: 450px;
    background-color: white;
    color: #0a0a23;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 3rem;
}

.ans-container label{
    margin-bottom: 20px;
}

.input-container input{
    border: none;
    border-bottom: 2px solid #5a01a7;   
    margin-right: 10px; 
    width: 250px;
    height: 30px;
}

.input-container button{
    cursor: pointer;
    padding: 8px 15px;
    border: none;
    background-color: #5a01a7;
    color: white;
    border-radius: 10px;
}

.palindrome-container{
    background-color: #00471b;
    height: 110px;
    width: 430px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.palindrome-container p{
    vertical-align: middle;
    text-align: center;
}

