*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: burlywood;
}

.title{
    margin-bottom: 2rem;
    font-family: sans-serif;
}

#text-input{
    resize: none;
    border-radius: 10px;
    padding:10px;
    margin-bottom: 1rem;
}