*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(4, 194, 194, 0.44);
}

.option-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    margin-top: 2rem;
    border-radius: 7px;
    border: 4px solid black;
    background-color: beige;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 3rem;
}

.option-container select{
    width:200px;
    height: 30px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 20px;
    
}

.option-container button{
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
}

#weather-display{
    height: 50vh;
    
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 7px;
    border: 4px solid black;
    background-color: beige;
}