*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    margin-bottom: 2rem;
}

.gallery{
    display:flex;
    
}

.gallery .gallery-item{
    height: 300px;
    width: 250px;
    margin:15px;
    transition: 0.3s ease;
}

.gallery .gallery-item:hover{
    transform: scale(1.1);
}

.lightbox{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(128, 128, 128, 0.775);
    display: none;
    justify-content: center;
    align-items: center;
}

#close-btn{
    position: absolute;
    top:20px;
    right: 30px;
    background: none;
    color: white;
    font-size: 2rem;
    border: none;
}

#lightbox-image{
    max-height: 90%;
    max-width: 90%;
}

